<div class="container is-hidden-mobile">
	<nav class="nav has-shadow is-hidden-mobile">
		<div class="container">
			<div class="nav-center">
				<img class="height100" src="/assets/images/logo/logo_portfolio.png">
			</div>
		</div>
	</nav>
	<nav class="nav has-shadow is-hidden-mobile">
		<div class="container">
			<div class="nav-center">
				<a class="nav-item is-tab" href="#"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home&nbsp;<span class="sr-only">(current)</span></a>
				<a class="nav-item is-tab" href="#About"><i class="fa fa-id-badge" aria-hidden="true"></i>&nbsp;About&nbsp;</a>
				<a class="nav-item is-tab" href="#Skills"><i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;Skills&nbsp;</a>
				<a class="nav-item is-tab" href="#Achievements"><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;Achievements&nbsp;</a>
				<a class="nav-item is-tab" href="#Volunteered"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Volunteered&nbsp;</a>
				<a class="nav-item is-tab" href="#Activities"><i class="fa fa-suitcase" aria-hidden="true"></i>&nbsp;Activities&nbsp;</a>
				<a class="nav-item is-tab" href="#Contact"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Contact&nbsp;</a>
			</div>
		</div>
	</nav>
</div>
<div class="is-hidden-tablet background-color-pn" style="padding-bottom:2em;">
	<table>
		<tr style="width:100%;">
			<td style="width:25%;"></td>
			<td style="width:50%;">
				<img class="width100" src="/assets/images/logo/logo-mobile.png">
			</td>
			<td style="width:25%;"></td>
		</tr>
	</table>
	<div>
		<p class="title has-text-centered colorfff">Welcome To My Portfolio</p>
		<p class="subtitle has-text-centered colorfff">Mr.Patipan Nakarin</p>
	</div>
	<table style="margin-top:2em;margin-bottom:2em;">
		<tr style="width:100%;">
			<td style="width:20%;"></td>
			<td style="width:60%;">
				<img class="width100" src="/assets/images/qrcode/qr_code_web.jpg">
			</td>
			<td style="width:20%;"></td>
		</tr>
	</table>
</div>