<div class="is-hidden-tablet background-color-pn" style="padding-bottom:2em;padding-top:2em;">
	<table>
		<tr class="widthTable100">
			<td class="widthTable25"></td>
			<td class="widthTable50">
				<img class="width100" src="/assets/images/logo/logo-mobile.png">
			</td>
			<td class="widthTable25"></td>
		</tr>
	</table>
	<div class="container">
		<p class="title has-text-centered colorfff">{{titleHome}}</p>
		<p class="subtitle has-text-centered colorfff">{{subTitleHome}}</p>
	</div>
	<table style="margin-top:2em;margin-bottom:2em;">
		<tr class="widthTable100">
			<td class="widthTable25"></td>
			<td class="widthTable50">
				<img class="width100" src="/assets/images/qrcode/qr_code_web.jpg">
			</td>
			<td class="widthTable25"></td>
		</tr>
	</table>
</div>



<div>
	<table>
		<tr class="widthTable100">
			<td style="width:20;">
				
			</td>
			<td style="width:20;">
				<div class="card-pn">
					<div class="faces front">
						<img class="img-portfolio" src="assets/images/home/home-photo-pn1.jpg">
					</div>			
					<div class="faces back">
						<img class="img-portfolio" src="assets/images/home/home-photo-pn0.jpg">
					</div>
				</div>
			</td>
			<td style="width:20;">
				<div class="card-pn">
					<div class="faces front">
						<img class="img-portfolio" src="assets/images/home/home-photo-pn2.jpg">
					</div>			
					<div class="faces back">
						<img class="img-portfolio" src="assets/images/home/home-photo-pn0.jpg">
					</div>
				</div>	
			</td>
			<td style="width:10;">
				
			</td>
			<td style="width:20;">
				<div class="card-pn">
					<div class="faces front">
						<img class="img-portfolio" src="assets/images/home/home-photo-pn3.jpg">
					</div>			
					<div class="faces back">
						<img class="img-portfolio" src="assets/images/home/home-photo-pn0.jpg">
					</div>
				</div>
			</td>
			<td style="width:10;">
				
			</td>
		</tr>
	</table>
</div>

<div id="Home" class="col-md-12">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<div class="col-md-4">
			<div class="card-pn">
				<div class="faces front">
					<img class="img-portfolio" src="assets/images/home/home-photo-pn1.jpg">
				</div>			
				<div class="faces back">
					<img class="img-portfolio" src="assets/images/home/home-photo-pn0.jpg">
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-pn">
				<div class="faces front">
					<img class="img-portfolio" src="assets/images/home/home-photo-pn2.jpg">
				</div>			
				<div class="faces back">
					<img class="img-portfolio" src="assets/images/home/home-photo-pn0.jpg">
				</div>
			</div>		
		</div>
		<div class="col-md-4">
			<div class="card-pn">
				<div class="faces front">
					<img class="img-portfolio" src="assets/images/home/home-photo-pn3.jpg">
				</div>			
				<div class="faces back">
					<img class="img-portfolio" src="assets/images/home/home-photo-pn0.jpg">
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="col-md-12 box-card-pn">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<h2 class="text-center">{{titleHome}}</h2>
		<h4 class="text-center">{{subTitleHome}}</h4>
	</div>
	<div class="col-md-3">
	</div>
</div>