<div id="Activities">
    <p class="title mt-top05 has-text-centered">
      <b><i class="fa fa-suitcase" aria-hidden="true"></i> Activities</b>
    </p>
    <table class="container widthTable100 is-hidden-mobile">
        <tr class="widthTable100" (mouseover)="actionImageOver('LA17')" (mouseout)="actionImageOut('LA17')">
            <td class="widthTable25"></td>
            <td class="widthTable50">
                <i id="LA17" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                Join in Lean Startup Workshop: University Edition
            </td>          
            <td class="widthTable25"></td>
          </tr>
        <tr class="widthTable100" (mouseover)="actionImageOver('LA16')" (mouseout)="actionImageOut('LA16')">
            <td class="widthTable25"></td>
            <td class="widthTable50">
                <i id="LA16" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                Join in Mobile Enterprise d-Government Awards 2017 (MEGA2017) by EGA
            </td>          
            <td class="widthTable25"></td>
          </tr>
        <tr class="widthTable100" (mouseover)="actionImageOver('LA1')" (mouseout)="actionImageOut('LA1')">
            <td class="widthTable25"></td>
            <td class="widthTable50">
                <i id="LA1" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
              Meetup in What’s up AI by HUBBA Thailand, during 27th June 2017
          </td>          
          <td class="widthTable25"></td>
        </tr>
        <tr class="widthTable100" (mouseover)="actionImageOver('LA2')" (mouseout)="actionImageOut('LA2')">
            <td class="widthTable25"></td>
            <td class="widthTable50">
                <i id="LA2" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
              Join in TechJam Mixer Event (Code Track) by KBTG, during 24th June 2017              
          </td>          
          <td class="widthTable25"></td>
        </tr>
        <tr class="widthTable100" (mouseover)="actionImageOver('LA3')" (mouseout)="actionImageOut('LA3')">
            <td class="widthTable25"></td>
            <td class="widthTable50">
                <i id="LA3" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
              Join in PWA Online Hackathon, during 23th-25th June 2017              
          </td>          
          <td class="widthTable25"></td>
        </tr>
        <tr class="widthTable100" (mouseover)="actionImageOver('LA4')" (mouseout)="actionImageOut('LA4')">
            <td class="widthTable25"></td>
            <td class="widthTable50">
                <i id="LA4" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
              Volunteered painted and growing vegetables in houseboat school, during 12th-14th August 2016
            </td>          
            <td class="widthTable25"></td>
          </tr>
        <tr class="widthTable100" (mouseover)="actionImageOver('LA5')" (mouseout)="actionImageOut('LA5')">
            <td class="widthTable25"></td>
            <td class="widthTable50">
                <i id="LA5" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
              Participated in workshop of LabVIEW embedded for raspberry pi, during 9th-10th June 2016
            </td>          
            <td class="widthTable25"></td>
          </tr>
        <tr class="widthTable100" (mouseover)="actionImageOver('LA6')" (mouseout)="actionImageOut('LA6')">
            <td class="widthTable25"></td>
            <td class="widthTable50">
                <i id="LA6" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                Participated in workshop of implementing VMware vSphere ESXi 6.0, 5th June 2016
            </td>          
            <td class="widthTable25"></td>
          </tr>
          <tr class="widthTable100" (mouseover)="actionImageOver('LA7')" (mouseout)="actionImageOut('LA7')">
              <td class="widthTable25"></td>
              <td class="widthTable50">
                  <i id="LA7" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                Participated in workshop of LabVIEW for IOT, 3rd June 2016
              </td>          
              <td class="widthTable25"></td>
            </tr>
          <tr class="widthTable100" (mouseover)="actionImageOver('LA8')" (mouseout)="actionImageOut('LA8')">
              <td class="widthTable25"></td>
              <td class="widthTable50">
                  <i id="LA8" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                Participated in workshop of windows server 2012 R2 administrator, 15th January 2016
              </td>          
              <td class="widthTable25"></td>
            </tr>
          <tr class="widthTable100" (mouseover)="actionImageOver('LA9')" (mouseout)="actionImageOut('LA9')">
              <td class="widthTable25"></td>
              <td class="widthTable50">
                  <i id="LA9" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                Volunteered help and organizing leisure time activities in children day for children in mountain, during 31st December 2015 – 2nd January 2016
              </td>          
              <td class="widthTable25"></td>
            </tr>
          <tr class="widthTable100" (mouseover)="actionImageOver('LA10')" (mouseout)="actionImageOut('LA10')">
              <td class="widthTable25"></td>
              <td class="widthTable50">
                  <i id="LA10" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                  Participated in the contest creative new media to disseminate research TRF, to a new generation (The Honorable mention award), 24th August 2015
                </td>          
                <td class="widthTable25"></td>
              </tr>
            <tr class="widthTable100" (mouseover)="actionImageOver('LA11')" (mouseout)="actionImageOut('LA11')">
                <td class="widthTable25"></td>
                <td class="widthTable50">
                    <i id="LA11" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                  Participated in workshop of the creation of new media, to promote research by The Thailand research fund, during 21st -24th August 2015
                </td>          
                <td class="widthTable25"></td>
              </tr>
            <tr class="widthTable100" (mouseover)="actionImageOver('LA12')" (mouseout)="actionImageOut('LA12')">
                <td class="widthTable25"></td>
                <td class="widthTable50">
                    <i id="LA12" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                  Participated in the hour of code by Microsoft student partners Thailand at Chulalongkorn University, 15th August 2015
                </td>          
                <td class="widthTable25"></td>
              </tr>
            <tr class="widthTable100" (mouseover)="actionImageOver('LA13')"  (mouseout)="actionImageOut('LA13')">
                <td class="widthTable25"></td>
                <td class="widthTable50">
                    <i id="LA13" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                  Participated in workshop of UI/UX patterns for mobile application, 10th August 2015
                </td>          
                <td class="widthTable25"></td>
              </tr>
            <tr class="widthTable100" (mouseover)="actionImageOver('LA14')" (mouseout)="actionImageOut('LA14')">
                <td class="widthTable25"></td>
                <td class="widthTable50">
                    <i id="LA14" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                    Participated in workshop of The Google Ignite by Google Thailand, in year 2015
                  </td>          
                  <td class="widthTable25"></td>
                </tr>
              <tr class="widthTable100" (mouseover)="actionImageOver('LA15')" (mouseout)="actionImageOut('LA15')">
                <td class="widthTable25"></td>
                <td class="widthTable50">
                    <i id="LA15" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                    Participated in 2015 IYF World Culture Camp Thailand, during 1st-4th February 2015
                  </td>          
                <td class="widthTable25"></td>
              </tr>
    </table>
    <table class="container widthTable100 is-hidden-tablet font-size075">
        <tr class="widthTable100" (mouseover)="actionImageOver('LA17')" (mouseout)="actionImageOut('LA17')">
            <td class="widthTable4"></td>
            <td class="widthTable92">
                <i id="LA17" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                Join in Lean Startup Workshop: University Edition
            </td>          
            <td class="widthTable4"></td>
          </tr>
        <tr class="widthTable100" (mouseover)="actionImageOver('LA16')" (mouseout)="actionImageOut('LA16')">
            <td class="widthTable4"></td>
            <td class="widthTable92">
                <i id="LA16" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                Join in Mobile Enterprise d-Government Awards 2017 (MEGA2017) by EGA
            </td>          
            <td class="widthTable4"></td>
          </tr>
        <tr class="widthTable100" (mouseover)="actionImageOver('LA1')" (mouseout)="actionImageOut('LA1')">
            <td class="widthTable4"></td>
            <td class="widthTable92">
                <i id="LA1" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
              Meetup in What’s up AI by HUBBA Thailand, during 27th June 2017
          </td>          
          <td class="widthTable4"></td>
        </tr>
        <tr class="widthTable100" (mouseover)="actionImageOver('LA2')" (mouseout)="actionImageOut('LA2')">
            <td class="widthTable4"></td>
            <td class="widthTable92">
                <i id="LA2" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
              Join in TechJam Mixer Event (Code Track) by KBTG, during 24th June 2017              
          </td>          
          <td class="widthTable4"></td>
        </tr>
        <tr class="widthTable100" (mouseover)="actionImageOver('LA3')" (mouseout)="actionImageOut('LA3')">
            <td class="widthTable4"></td>
            <td class="widthTable92">
                <i id="LA3" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
              Join in PWA Online Hackathon, during 23th-25th June 2017              
          </td>          
          <td class="widthTable4"></td>
        </tr>
        <tr class="widthTable100" (mouseover)="actionImageOver('LA4')" (mouseout)="actionImageOut('LA4')">
            <td class="widthTable4"></td>
            <td class="widthTable92">
                <i id="LA4" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
              Volunteered painted and growing vegetables in houseboat school, during 12th-14th August 2016
            </td>          
            <td class="widthTable4"></td>
          </tr>
        <tr class="widthTable100" (mouseover)="actionImageOver('LA5')" (mouseout)="actionImageOut('LA5')">
            <td class="widthTable4"></td>
            <td class="widthTable92">
                <i id="LA5" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
              Participated in workshop of LabVIEW embedded for raspberry pi, during 9th-10th June 2016
            </td>          
            <td class="widthTable4"></td>
          </tr>
        <tr class="widthTable100" (mouseover)="actionImageOver('LA6')" (mouseout)="actionImageOut('LA6')">
            <td class="widthTable4"></td>
            <td class="widthTable92">
                <i id="LA6" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                Participated in workshop of implementing VMware vSphere ESXi 6.0, 5th June 2016
            </td>          
            <td class="widthTable4"></td>
          </tr>
          <tr class="widthTable100" (mouseover)="actionImageOver('LA7')" (mouseout)="actionImageOut('LA7')">
              <td class="widthTable4"></td>
              <td class="widthTable92">
                  <i id="LA7" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                Participated in workshop of LabVIEW for IOT, 3rd June 2016
              </td>          
              <td class="widthTable4"></td>
            </tr>
          <tr class="widthTable100" (mouseover)="actionImageOver('LA8')" (mouseout)="actionImageOut('LA8')">
              <td class="widthTable4"></td>
              <td class="widthTable92">
                  <i id="LA8" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                Participated in workshop of windows server 2012 R2 administrator, 15th January 2016
              </td>          
              <td class="widthTable4"></td>
            </tr>
          <tr class="widthTable100" (mouseover)="actionImageOver('LA9')" (mouseout)="actionImageOut('LA9')">
              <td class="widthTable4"></td>
              <td class="widthTable92">
                  <i id="LA9" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                Volunteered help and organizing leisure time activities in children day for children in mountain, during 31st December 2015 – 2nd January 2016
              </td>          
              <td class="widthTable4"></td>
            </tr>
          <tr class="widthTable100" (mouseover)="actionImageOver('LA10')" (mouseout)="actionImageOut('LA10')">
              <td class="widthTable4"></td>
              <td class="widthTable92">
                  <i id="LA10" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                  Participated in the contest creative new media to disseminate research TRF, to a new generation (The Honorable mention award), 24th August 2015
                </td>          
                <td class="widthTable4"></td>
              </tr>
            <tr class="widthTable100" (mouseover)="actionImageOver('LA11')" (mouseout)="actionImageOut('LA11')">
                <td class="widthTable4"></td>
                <td class="widthTable92">
                    <i id="LA11" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                  Participated in workshop of the creation of new media, to promote research by The Thailand research fund, during 21st -24th August 2015
                </td>          
                <td class="widthTable4"></td>
              </tr>
            <tr class="widthTable100" (mouseover)="actionImageOver('LA12')" (mouseout)="actionImageOut('LA12')">
                <td class="widthTable4"></td>
                <td class="widthTable92">
                    <i id="LA12" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                  Participated in the hour of code by Microsoft student partners Thailand at Chulalongkorn University, 15th August 2015
                </td>          
                <td class="widthTable4"></td>
              </tr>
            <tr class="widthTable100" (mouseover)="actionImageOver('LA13')"  (mouseout)="actionImageOut('LA13')">
                <td class="widthTable4"></td>
                <td class="widthTable92">
                    <i id="LA13" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                  Participated in workshop of UI/UX patterns for mobile application, 10th August 2015
                </td>          
                <td class="widthTable4"></td>
              </tr>
            <tr class="widthTable100" (mouseover)="actionImageOver('LA14')" (mouseout)="actionImageOut('LA14')">
                <td class="widthTable4"></td>
                <td class="widthTable92">
                    <i id="LA14" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                    Participated in workshop of The Google Ignite by Google Thailand, in year 2015
                  </td>          
                  <td class="widthTable4"></td>
                </tr>
              <tr class="widthTable100" (mouseover)="actionImageOver('LA15')" (mouseout)="actionImageOut('LA15')">
                <td class="widthTable4"></td>
                <td class="widthTable92">
                    <i id="LA15" class="fa fa-check-circle-o color157d39" aria-hidden="true"></i>
                    Participated in 2015 IYF World Culture Camp Thailand, during 1st-4th February 2015
                  </td>          
                  <td class="widthTable4"></td>
                </tr>
    </table>
</div>